.background {
  height: 110vh;
  min-width: none;
  position: relative;
  background: linear-gradient(90deg, #000000 1%, rgba(0, 0, 0, 0) 51%);
  background-attachment: fixed;
}

.characterListBackground {
  height: 110vh;
  min-width: none;
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(90, 79, 74, 0.54),
    rgba(90, 79, 74, 0.54)
  );
  background-attachment: fixed;
}

.main {
  position: relative;
  z-index: 1;
}

.imageHover:hover {
  opacity: 0.5;
}

.aboutLinks {
  display: flex;
  margin-left: 2;
  padding-left: 2;
  text-decoration: none;
}

.aboutLinks:hover {
  opacity: 0.5;
}
