.background {
  display: block;
  height: 130vh;
  min-width: 390px;
  position: relative;
  background: linear-gradient(90deg, #000000 1%, rgba(0, 0, 0, 0) 51%);
  background-attachment: fixed;
}

.characterListBackground {
  display: block;
  min-height: 310vh;
  min-width: 390px;
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(90, 79, 74, 0.54),
    rgba(90, 79, 74, 0.54)
  );
}

.characterListBackgroundMobileView {
  display: block;
  min-height: 315vh;
  min-width: 390px;
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(90, 79, 74, 0.54),
    rgba(90, 79, 74, 0.54)
  );
  background-attachment: fixed;
}

.main {
  position: relative;
}

.imageHover:hover {
  opacity: 0.5;
}

.navLink1:hover {
  color: #fa9f17;
  cursor: pointer;
}

.aboutLinks {
  display: flex;
  margin-left: 2;
  padding-left: 2;
  text-decoration: none;
}

.aboutMenuItems {
  text-decoration: none;
}

.menuItemList {
  color: black;
}

.aboutLinks:hover {
  opacity: 0.5;
}

.heroImgPosition {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 115px;
  z-index: -1;
}
